
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


:root {
    --primaryTextColor: #232e35;
    --secondaryTextColor: #656d72;
    --primaryColor: #ff6b00;
    --secondary-color: #f9f9f9;

    --borderColor:#f1f1f1;
    --lineColor:#d9d9d9;

    --primaryBackground: #fff;
    --secondryBackgroundColor:#fbfbfb;
    --tridBackgroundColor:#f5f3fe;

    --primaryIconColor: #7e74f1;
    --primaryIconColorHover: #5d51e8;
    --sectionPadding: 6rem 0;

    --itemBorderRadius: 0,0.7rem;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

h1,h2,h3,h4,h5,h6, strong {
    color: var(--primaryTextColor);
}

P {
    font-size: 1rem; /* 16px */
    line-height: 1.9rem;
}

p, span, label, input, textarea, li {
    color: var(--secondaryTextColor);
}

a {
    text-decoration: none;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 90%;
    }
}

/* Buttons */
.btn{
    padding: 1rem 1.5rem;
    background:rgb(255, 0, 123);
    border: 1.5px solid var(--borderColor);
    cursor: pointer;
    transition: .2s ease-in-out;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}


/* Title */

.section-title {
    margin: 1rem 0 4rem;
    font-size: 2rem;
}



.pre-title {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--secondaryTextColor);
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 0.9rem;
}

.pre-title::before{
    content: "";
    width: 30px;
    height: 1px;
    background: var(--lineColor);
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

/* layout */
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}


/* Logo And Navigation Menu */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
}

.logo a {
    color: var(--primaryTextColor);
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li {
    color: var(--primaryTextColor);
}

/* Burger */
.burger div {
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 7px;
    transition: all 0.3s;
    z-index: 99;
}

.burger {
    /*display: none; */
    z-index: 99;
    position: fixed;
    top: 33px;
    right: 35px;    
}




/* Hero Section */
#hero {
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items:center ;
}

.hero-name {
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem 0 1rem;
}

.hero-name span{
    color: var(--primaryIconColor) ;
}

.hero-right img{
    width: 50%;
}

.hero-right {
    display: flex;
    justify-content: center;
}

/* Services Section */
#services {
    background: var(--itemBorderRadius);
   padding: 6rem 0;
}

.services .pre-title {
    margin: 0 auto;
}

.service-text h4 {
    color: var(--secondryBackgroundColor)
    
}


.services-title {
    text-align: center;
}

.service {
    padding: 3rem 2rem;
    text-align: center;
    background-color: white;
    border-radius: 0.7rem;
}

.service h4{
    color: #d9d9d9;
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.05rem;
}

.service-icon{
    background-color: #f5f3fe;
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 0.5rem;
}

.service-icon svg {
    fill: #7e74f1 ;
}

/* Skills Education */
#skills {
    padding: var(--sectionPadding);
    background: var(--secondryBackgroundColor);
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.education {
    display: flex;
    gap: 2rem;
}

.education .line{
    padding: 0 .7rem;
}

.education .line div {
    width: 2px;
    height: 100%;
    background: color #f1f1f1 ;
    position: relative;
}

.education-info p {
    margin: .6rem 0 1.4rem;
}

.education-years {
    margin-bottom: 3rem;
}
/* And Skills Education */

/* Form Input */
#myForm input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #f30000;
    border-radius: 4px;
  }
  
  
  #myForm input:focus {
    border: 3px solid #57b846;
  }


  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
  
:root {
      
      --primaryTextColor: #232e35;
      --secondaryTextColor: #656d72a4;
      --primaryColor: #ff6b00;
      --secondary-color: #f9f9f9;
  }
*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
.about {
    background: var(--secondaryTextColor);
    width: 100%;
    padding: 78px 0px;
    
}

.about img {
    height: auto;
    width: 420px;
}

.about-text {
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h1 {
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5 {
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
span{
    color: #f9004d;
}
.about-text p {
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
 








 































